<h1>Precios Internacionales</h1>
<div class="container">
    <h2>Periodos</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Productos</th>
                <th>Precios</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let material of precioInternacional.materiales">
                <td>{{ material.nomprod }}</td>  <!-- Muestra el nombre del producto -->
                <td>{{ material.precios[0] }}</td> <!-- Muestra el primer precio -->
            </tr>
        </tbody>
    </table>
</div>
